NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_APP_NAME="Uzair Transport"
NEXT_PUBLIC_GOOGLE_CLIENT_ID=mock_google_client_id_2026
NEXTAUTH_SECRET=uzair_transport_nextauth_secret_key_2026
NEXTAUTH_URL=http://localhost:3000
